.header {
  background: var(--gray-800);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem 0;
}

.header img {
  height: 2rem;
  color: var(--orange-500);
}

.header strong {
  margin-left: 0.60rem;
}